@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.roboto-font {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 100;
}

/*Navigation*/

body{
    overflow-x: hidden ;
}
nav{
    position: fixed;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    z-index:999;
}

nav img{
    width : 250px;
    cursor: pointer;
}

nav .navigation{
    display: flex;
}

#menu-btn{
    width : 30px;
    height : 30px;
    display: none;
}

#menu-close{
    display: none;
}


nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
    cursor: pointer;
}

nav .navigation ul li a{
    text-decoration: none;
    color: rgb(21,21,100);
    font-weight: 500px;
   
}

nav .navigation ul li a:hover{
    color :black;
}


/*Home*/

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("/images/img_9509.jpg");
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    -webkit-animation: slideBackground 27s infinite;
    /*Slide effect every 27 seconds*/
    animation: slideBackground 27s infinite;
}
/* Keyframes to change the background image */
@keyframes slideBackground {
    0% {
      background-image: url('/images/logo-fixed.png');
    }
    33% {
      background-image: url('/images/home2.jpg');
    }
    66% {
      background-image: url('/images/nust-central-plaza---january33.jpg');
    }
    100% {
      background-image: url('/images/students-main.png');
    }
}

#home h2{
    color : #fff;
    font-size : 2.2rem;
    letter-spacing: 1px;
}
#home p{
    width: 50%;
    color : #fff;
    font-size : 0.9rem;
    line-height: 25px;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #130689;
    font-weight: 600;
    color: white;
}

/*Courses*/

#course{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#course .course-box{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
      grid-gap: 1rem;
      margin-top: 50px;
}

#course .courses{
    text-align: start;
    background: whitesmoke;
    height: 100%;
    position: relative;
}

#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#course .courses .details{
    padding: 15px 15px 0 15px;
}

#course .courses .cost{
    background-color: rgb(74,74,136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}

/*Registration*/

#registration{
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5)),url("images/sign-up-form-button-graphic-concept.jpg");
    max-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:  space-between;
    align-items: center;
}

#registration .reminder{
    color: #fff;
}
#registration .reminder h1{
    color: #fff;
}
#registration .reminder .time{
    display: flex;
    margin-top: 40px;
}
#registration .reminder .time .date{
    text-align: center;
    padding: 13px 33px;
    background: rgba( 255,255,255,0.25);
    /* backdrop-filter: blur(4px); */
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255,255,255,0.18);
    font-size: 1.1rem;
    font-weight: 600;
}

#registration .form{
    background-color: white;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37); 
    flex: 1;
}

#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84,40,241);
    outline: none;
}

#registration .form a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #130689;
    font-weight: 600;
    color: white;
}

#registration .form a:hover{
    color: rgb(21,21,100);
    background: #fff;
}

/*experts*/
#experts{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;  
}
#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}


/*FOOTER*/

footer{
    padding:8vw;
    background-color: #0e093e;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color: rgb(241,240,245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    -o-transition: 0.3 ease;;
    -webkit-transition: 0.3 ease;
    -moz-transition: 0.3 ease;
    -ms-transition: 0.3 ease;
    transition: 0.3 ease;
}

footer li:hover{
    color: rgb(241,240,245);

}

footer p{
    color: #7b838a
}

footer .subscribe{
    margin-top: 20px;

}

footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    outline: none;
    color: #fff;
}

footer .footer-col .submit-btn{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #130689;
    font-weight: 600;
    color: white;
}


footer .footer-col .submit-btn{
    color: rgb(21,21,100);
    background: #fff;
}

footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright.pro-links{
    margin-top: 10px;
}

footer .copyright .pro-links i{
    padding: 10px 13px;
    cursor: pointer;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
}

footer .copyright .pro-links i:hover{
    background-color: rgb(21,21,100);
    color: #fff;
    /* border: 1px solid rgb(21,21,100); */
    cursor: pointer;
}

@media(max-width: 769px) {
    nav{
        padding: 15px;
    }
    nav img{
        width:130px;
    }
    #menu-btn{
        display: initial;
    }
    
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;
    }

    nav .navigation ul{
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        background : rgba(17,20,104,0.45);
        /* backdrop-filter: blur(4.5px); */
        border: 1px solid rgba( 255,255,255,0.18);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }  



    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0; 
    } 

    nav .navigation ul li a{
        color: #fff;
        font-size: 1.1rem;
        font-weight: 600;
        text-decoration: none;
    }
}