<div class="settings">
    <div class="general-settings">
        <h1>General</h1>
        <p>Edit Details</p>
        <p>Reset Password</p>
        <p>Suspend Account</p>
        <p>Time Zone</p>
    </div>
    <br>
    <div class="security-settings">
        <h1>Security and Privacy</h1>
        <p>Delete Account</p>
        <p>Backup and Restore</p>
        <p>Ban and Suspension Rules</p>
        <p>Platform Version</p>
    </div>
</div>    