<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="./stylesheets/student-dashboard.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>
<body class="roboto-font">
    
    <div class="sidebar">
        <div class="logo">
            <!-- <div class="userlogo">
                <i class="fa-solid fa-user"></i>
            </div>  -->
            <ul class="menu">
                <li class="active">
                    <a href="#">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        <span>Courses</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question-circle"></i>
                        <span>FAQ</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-cog"></i>
                        <span>Settings</span>
                    </a>
                </li>
                <li class="logout">
                    <a href="#">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>LogOut</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Main body Section -->
    <div class="main-content">
        <div class="header-wrapper">
            <div class="header-title">
                <span>Student</span>
                <h2>Dashboard</h2>
            </div>
            <div class="user-info">
                <div class="search-box">
                    <i class="fa-solid fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
                <img src="./images/pro2.webp" alt="">
            </div>
        </div>

        <!-- CARD CONTAINER -->

    <div class="card-container">
        <h3 class="main-title">Your Courses</h3>
        <div class="card-wrapper">
            <div class="payment-card">
                <div class="card-header">
                    <div class="amount">
                       <span class="title">
                        JavaScript for Beginners
                       </span> 
                       <span class="amount-value">
                        $15.00
                       </span>
                    </div>
                    <i class="fas fa-dollar-sign icon"></i>
                </div>
                <span class="student-num">
                    N0************ 
                </span>
            </div>
        </div>
    </div>


    </div>

    

</body>
</html>